@font-face {
  font-family: main;
  src: url(font.ttf);
}


* {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

body {
  font-family: main;
  font-size: 48px;
  text-align: center;
  background: #fff;
  margin: 0px;
  min-height: 100vh;
}

.content {
  max-width: 800px;
  width: 100%;
  margin: auto;
  background: #fff;
  border: solid #888;
  border-width: 0px 1px;
  padding: 20px 100px;
  min-height: calc(100vh - 40px);
}

h1, h2 {
  margin: 0;
  font-size: 1.5em;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #888;
  text-decoration: underline;
}

ul {
  list-style-type: square;
  text-align: left;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

iframe {
  border: solid #888;
  border-width: 1px;
}