@font-face {
  font-family: main;
  src: url(font.ttf);
}

* {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

body {
  font-family: main;
  font-size: 48px;
  background: #ddd;
  margin: 0px;
  height: 100vh;
  overflow-y: hidden;
}

.content {
  max-width: 800px;
  width: calc(100% - 202px);
  margin: auto;
  background: #fff;
  border: solid #888;
  border-width: 0px 1px;
  padding: 0px 100px;
  max-height: 90%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  line-height: 80%;
  font-size: 144px;
  text-align: center;
}

h2 {
  margin: 0;line-height: 80%;
  font-size: 96px;
  text-align: center;
}



a {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #888;
  text-decoration: underline;
}

ul {
  list-style-type: square;
  text-align: left;
}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

iframe {
  border: solid #888;
  border-width: 1px;
  align-self: center;
  margin: auto;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .content {
    padding: 0px 0px;
    width: 100%;
  }
}

nav {
  background: #fff;
  max-width: 800px;
  width: calc(100% - 202px);
  border: 1px solid #888;
  border-top: 0px;
  text-align: left;
  margin: auto;
  padding: 0px 100px;
  height: 10%;
}

p,
ul {
  margin: 0px;
}

left {
  text-align: left;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  border: 1px solid #888;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container-itch {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 20%;
  border: 1px solid #888;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container-steam {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 25%;
  border: 1px solid #0000;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container-doc {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 178%;
  border: 1px solid #888;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0px;
}